<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Prostage{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block header %}<h1>------------header---------------</h1>{% endblock %}

        {% block menu %}<h1>------------menu---------------</h1>{% endblock %}
        {% block contenu %}<h1>------------contenu---------------</h1>{% endblock %}
        {% block footer %}<h1>------------footer---------------</h1>{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
